body { font-family: Georgia, arial, serif; font-size:14px; color:#fff; background-color:#144060; overflow:hidden; }

#tf_title { margin-left:10px; padding:5px; font-size:36px;}
#tf { width:200%; position:relative; }

.tf_section { width:50%; float:left;}

.tf_modifier { width:30%; float: left; }
.tf_container { width:68%; margin-top:10px; padding:10px; position:relative; }
#tf_container_1 { float: left; }
#tf_container_2 { float: left; }

.tf_container_toprow { margin-bottom:10px; margin-top:10px; clear:both; }
.tf_container_title { float:left; font-size:24px; font-weight:bold; }
.tf_container_buttons { float:right; }
.tf_container_field { clear: both;  }
    .tf_container_field textarea { width: 100%; border: 1px solid #bcb; border-radius: 5px; height:500px; }

#tf_modifier_input { float: left; }
#tf_modifier_output { float: left; }
#tf_modifier_container { float:left;  border: 3px solid #8e8e8e; background-color:#fff; margin-top:75px; margin-left:10px; margin-right:10px; padding:20px; border-radius:5px; color:#000; }
#tf_modifier_container_title { font-size:18px; font-weight:bold; }
.tf_modifier_section { float:left; padding-right:50px; padding-top:10px; }
.tf_modifier_section_name { font-size:16px; padding-bottom:5px;}
.tf_modifier_section_controls { float:left; padding-left:25px; }
.tf_hidden_modifier_property {  display:none; padding-top:3px; }
.tf_modifier_button { clear:both; padding-top:10px; text-align:center;  }

.tf_input { padding:5px; }

.button {
	display: inline-block;
	outline: none;
	cursor: pointer;
	text-align: center;
	text-decoration: none;
	font: 14px/100% Arial, Helvetica, sans-serif;
	padding: .5em 2em .55em;
	text-shadow: 0 1px 1px rgba(0,0,0,.3);
	border-radius: .5em;
	box-shadow: 0 1px 2px rgba(0,0,0,.2);
	color: #e9e9e9;
	border: solid 1px #999;
	background: #6e6e6e;
}
.button:hover {
	text-decoration: none;
	background: #616161;
}
.button:active {
	position: relative;
	top: 1px;
	color: #afafaf;
}

.shown{ display:inline; }
.hidden{ display:none; }
.clear { clear: both; }